@using SC.Models
@model List<Contact>

@for (int i = 0; i < Model.Count; i++)
{
    var item = Model[i];

    <div class="col-md-6">
        <div class="title-box-2 pt-4 pt-md-0">
            <h5 class="title-left">
                @item.Title
            </h5>
        </div>
        <div class="more-info">
            <p class="lead">
                @item.Desciription
            </p>
            <ul class="list-ico">
                <li><span class="bi bi-geo-alt"></span> @item.Name</li>
                @*<li><span class="bi bi-phone"></span> @item.Phone</li>*@
                <li><span class="bi bi-envelope"></span> @item.Email</li>
            </ul>
        </div>
        <div class="socials">
            <ul>
                <li><a target="_blank" href="https://www.linkedin.com/in/sinancvk/"><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>

                <li><a target="_blank" href="https://github.com/Sinancvk0"><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
            </ul>
        </div>
    </div>

}