@model SC.Models.BlogDetaills
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}


<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.ImageUrl'); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.Name</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block"></figure>
                        <span class="d-inline-block mt-1">By Sinan Çıvak</span>
                        <span>&nbsp;-&nbsp; @Model.DateCreated.ToString("MMMM/yyyy")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body">
                    <p>@Model.Content</p>
                    <div class="row my-4">
                        <div class="col-md-12 mb-4">
                            <img src="@Model.ImageUrl2" style="width: 1800px; height: 500px;" alt="Image placeholder" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="@Model.ImageUrl3" alt="Image placeholder"  style="width: 900px; height: 300px;" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 mb-4">
                            <img src="@Model.ImageUrl4" alt="Image placeholder"  style="width: 900px; height: 300px;" class="img-fluid rounded">
                        </div>
                    </div>

                    <p>@Model.Content2</p>

                </div>


                <div class="pt-5">
                    <p>Categories:  <a href="#">@Model.BlogCategory.Name</a>  Tags: <a href="#"></a> @Model.Tag</p>
                </div>




            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="sidebar-search-form">
                     
         
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="~/images/photo.jpg" alt="Image Placeholder" class="img-fluid mb-3">
                        <div class="bio-body">
                            <h2>Sinan Çıvak</h2>
                            <p><a href="/Default/Index/" class="btn btn-primary btn-sm rounded px-2 py-2">Hakkımda</a></p>
  
                        </div>
                    </div>
                </div>


                <div class="sidebar-box">
                    <h3 class="heading">Kategoriler</h3>
                    <ul class="categories">
                        <li>
                            <a href="@Url.Action("CategoryDetails", "BlogRetro", new { id = 1 })">Yazılım</a>
                        </li>
                        <li>  <a href="@Url.Action("CategoryDetails", "BlogRetro", new { id = 2 })">E-Fatura</a></li>

                        <li>  <a href="@Url.Action("CategoryDetails", "BlogRetro", new { id = 3 })">Genel Kültür</a></li>
                        <li><a href="/Imdb100Movie/Index">IMDB En İyi 100 Film</a></li>
                        <li><a href="/DateLine/Index/">Tarihi Olaylar</a></li>
                        <li><a href="/NewsApi/Index/">Teklonoji Haberleri</a></li>

                    </ul>
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Freelancing</a></li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar -->

        </div>
    </div>
</section>


<!-- Start posts-entry -->
@await Component.InvokeAsync("BlogDetails")

<!-- End posts-entry -->
