@using SC.Models
@model List<About>



<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                @foreach (var item in Model)
                {


                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="@item.ImageURl" class="img-fluid rounded b-shadow-a" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>@item.Name</span></p>
                                            <p><span class="title-s">Profile: </span> <span>@item.Profile</span></p>
                                            <p><span class="title-s">Üniversite: </span> <span>@item.Phone</span></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="skill-mf">
                                    <p class="title-s">Yetenekler</p>
                                    @foreach (var skill in item.Skılls)
                                    {
                                        <span></span>@skill.Name <span class="pull-right">@skill.Value%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width:@skill.Value%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    }

                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Hakkımda
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        @item.Desciription
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>





