@model MovieDetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('https://image.tmdb.org/t/p/w500/@Model.backdrop_path'); background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.title</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block"></figure>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div class="container">

        <div class="row blog-entries element-animate">

            <div class="col-md-12 col-lg-8 main-content">

                <div class="post-content-body">

                    @if (Model != null)
                    {
                        <p>Popülerlik:@Model.popularity</p>
                        <p>orjinal Dili:@Model.original_language</p>
                        <p>Yayın Tarihi:@Model.release_date</p>
                        <p>Puan: @Model.vote_average</p>
                        <p>Oylama Sayısı: @Model.vote_count</p>
                        <p>Konusu:@Model.overview</p>
                    }

                    <div class="row my-4">
                        <div class="col-md-12 mb-4">
                            @if (Model != null && Model.poster_path != null)
                            {
                                <img src="https://image.tmdb.org/t/p/w500/@Model.poster_path" alt="Image placeholder" class="img-fluid rounded">
                            }

                        </div>


                    </div>



                </div>


                <div class="pt-5">

                </div>




            </div>

            <!-- END main-content -->

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="sidebar-search-form">
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="~/images/photo.jpg" alt="Image Placeholder" class="img-fluid mb-3">
                        <div class="bio-body">
                            <h2>Sinan Çıvak</h2>
                            <p><a href="/Default/Index/" class="btn btn-primary btn-sm rounded px-2 py-2">Hakkımda</a></p>

                        </div>
                    </div>
                </div>


                <div class="sidebar-box">
                    <h3 class="heading">Kategoriler</h3>
                    <ul class="categories">
                        <li>
                            <a href="@Url.Action("CategoryDetails", "BlogRetro", new { id = 1 })">Yazılım</a>
                        </li>
                        <li>  <a href="@Url.Action("CategoryDetails", "BlogRetro", new { id = 2 })">E-Fatura</a></li>

                        <li>  <a href="@Url.Action("CategoryDetails", "BlogRetro", new { id = 3 })">Genel Kültür</a></li>
                        <li><a href="/Movie/Index">Popüler Filmler</a></li>
                        <li><a href="/DateLine/Index/">Tarihi Olaylar</a></li>
                        <li><a href="/NewsApi/Index/">Teklonoji Haberleri</a></li>

                    </ul>
                </div>
                <!-- END sidebar-box -->

                <div class="sidebar-box">
                    <h3 class="heading">Etikeler</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#">Aksiyon</a></li>
                        <li class="list-inline-item"><a href="#">Macera</a></li>
                        <li class="list-inline-item"><a href="#">Komedi</a></li>
                        <li class="list-inline-item"><a href="#">Drama</a></li>
                        <li class="list-inline-item"><a href="#">Bilim Kurgu</a></li>
                        <li class="list-inline-item"><a href="#">Korku</a></li>
                    </ul>
                </div>
            </div>
            <!-- END sidebar -->

        </div>
    </div>
</section>
<!-- Start posts-entry -->


<!-- End posts-entry -->
