@model MovieViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}
<style>
    .card {
        height: 100%;
        width: 100%;
        padding: 10px; /* Kartın içeriğinden gelen boşluğu azaltmak için padding ekleyin */
    }

    .card-img-top {
        max-height: 200px; /* İmajın maksimum yüksekliğini ayarlayın */
        width: 100%; /* Genişliği kartın genişliğine sığacak şekilde ayarlayın */
        object-fit: cover; /* İmajın boyutlandırılmasını ayarlar */
    }
</style>



<h2>Populer Filmler</h2>

@if (Model != null)
{
    <div class="row">
        @foreach (var movie in Model.Results)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="https://image.tmdb.org/t/p/w500/@movie.poster_path" class="card-img-top" alt="@movie.title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.title</h5>

                        <p class="card-text">Puan: @movie.vote_average</p>
                        <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.id" class="btn btn">Detayları Görüntüle</a>

                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="/Movie/Index?page=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/Movie/Index?page=@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/Movie/Index?page=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

}
else
{
    <p>Failed to retrieve movie data.</p>
}
